<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/st_get.css">

</head>

<body>
    <div>
        <nav class="navbar">
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="../post_data">Enter data</a></li>
                <li><a href="../get_data">Get data</a></li>
            </ul>
        </nav>
    </div>
    
    <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th>Blood Amount</th>
                <th>Blood Type</th>
                <th>Hospitals</th>
                <th>Gender</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
       
        <tbody id='tableBody'>
            <!-- Your table rows go here -->
        </tbody>
    </table>

    <div>
        <script src="../public/api_test/get_api.js"></script>
    </div>
</body>
</html>